a {
  
  margin:10px;
  text-decoration: none;
  padding: 10px;
  border-radius: 2px;
  justify-content: center;

}
a.active {
  color: blue
  
}

.navbar {
  padding:10px;
  margin: auto;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center
}

.page-content {
  display: flex;
  padding:10px;
  border: 2px solid blue;
  border-radius: 10px;
  justify-content: center;
  background-color: aquamarine;
}